<div class="row mt-4">
  <form action="/dashboard">
    <button type='submit' class="btn btn-primary btn-circle btn-sm">
      back to dashboard
    </button>
  </form>
</div>

<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">
        <i class="fas fa-key"></i> Change Password
      </h1>

      <%- include('./partials/messages.ejs'); %>
    
    <h2 class="lead mb-3">You are signed in as <span class="text-capitalize"><%= name %></span>.</h2>

      <form action="/users/change-password" method="POST">
        
      <div class="form-group">
          <label for="password">Enter old password</label>
          <input 
          type="password" id="currentPassword" name="currentPassword" class="form-control" placeholder="Enter old password"
          value="<%= typeof currentPassword != 'undefined' ? currentPassword : '' %>" />
        </div>
        <div class="form-group">
          <label for="password">Enter new password</label>
          <input type="password" id="newPassword" name="newPassword" class="form-control" placeholder="New Password"
            value="<%= typeof newPassword != 'undefined' ? newPassword : '' %>" />
        </div>
        <div class="form-group">
          <label for="password2">Confirm new password</label>
          <input type="password" id="newPassword2" name="newPassword2" class="form-control" placeholder="Confirm New Password"
            value="<%= typeof newPassword2 != 'undefined' ? newPassword2 : '' %>" />
        </div>
        <button type="submit" class="btn btn-success btn-block">
          Update password
        </button>
      </form>
     
    </div>
  </div>
</div>